<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb648056098576150</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>co.deluge.Chat-SDK</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1088435112418-4cm46hg39okkf0skj2h5roj1q62anmec</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-Kqprq5b6bVeEfcMAGoHzUmB3I</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>648056098576150</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To send an image message</string>
	<key>NSContactsUsageDescription</key>
	<string>To check if any of your contacts use this app</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>To send location messages</string>
	<key>NSLocationUsageDescription</key>
	<string>To send location messages</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To send location messages</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To send audio messages</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>To save the photo to your library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To access your photos to customise your profile or image message</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>chat_sdk</key>
	<dict>
		<key>anonymous</key>
		<dict>
			<key>enabled</key>
			<true/>
		</dict>
		<key>facebook</key>
		<dict>
			<key>app_id</key>
			<string>648056098576150</string>
		</dict>
		<key>firebase</key>
		<dict>
			<key>cloud_messaging_server_key</key>
			<string>AAAA_WvJyeI:APA91bFIDYoxnbFTub61SKCh8-RZrElzdkZpzyV3paGFlRWonMzq33zQmQW3ub5hDXLuRaipwtoHSoDKXkZlN5DRb_EYdrxtaDptmvZKCYBPKI-4RqTK9wVLOJvgc5X3bVWLfpNSJO_tLK2pnmhfpHDw2Zs-5L2yug</string>
			<key>root_path</key>
			<string>18_02</string>
		</dict>
		<key>google</key>
		<dict>
			<key>client_key</key>
			<string>1088435112418-4cm46hg39okkf0skj2h5roj1q62anmec.apps.googleusercontent.com</string>
		</dict>
		<key>settings</key>
		<dict>
			<key>app_badge_enabled</key>
			<true/>
			<key>user_chat_info_enabled</key>
			<true/>
		</dict>
		<key>twitter</key>
		<dict>
			<key>api_key</key>
			<string>Kqprq5b6bVeEfcMAGoHzUmB3I</string>
			<key>secret</key>
			<string>hPd9HCt3PLnifQFrGHJWi6pSZ5jF7kcHKXuoqB8GJpSDAlVcLq</string>
		</dict>
	</dict>
</dict>
</plist>
