.DS_Store
BModules.h.default
Xcode/Build
Xcode/ChatSDK Demo.xcworkspace
Xcode/Pods
Xcode/Podfile.lock
XcodeSwift/Build
XcodeSwift/ChatSDKSwift.xcworkspace
XcodeSwift/Pods
XcodeSwift/Podfile.lock
XcodeSnapchat/
XcodeTest/
XcodeTest2/
XcodeTed/
XcodeXMPP/
FirebaseUI-iOS/
firebase-ios-sdk/
XcodeTestAll/