<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088435112418-jqf1gjg68drthskkdh8hi3k5cbaeguit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088435112418-jqf1gjg68drthskkdh8hi3k5cbaeguit</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1088435112418-900e65u7oloc6tvbf9cl9qv5fjctv4t7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtFbGF6AQtTQD1gJmqfYE6XuxQzlkWEZA</string>
	<key>GCM_SENDER_ID</key>
	<string>1088435112418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sdk.chat.swift-modules</string>
	<key>PROJECT_ID</key>
	<string>chat-sdk-v4</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-sdk-v4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088435112418:ios:7e4582670150ffad5611bb</string>
	<key>DATABASE_URL</key>
	<string>https://chat-sdk-v4.firebaseio.com</string>
</dict>
</plist>