<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EULAEnglish</key>
	<array>
		<string>Terms</string>
		<string>By accessing this app, you are agreeing to be bound by these Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this app. The materials contained in this app are protected by applicable copyright and trade mark law.</string>
		<string>Disclaimer</string>
		<string>The materials on Chatcat app are provided “as is”. Chatcat makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Chatcat does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</string>
		<string>Chatcat is not responsible for the content posted on the app. By agreeing to these terms you are accepting responsibility of material that you may come into contact with. Chatcat has very low tolerance for offensive material posted on this app. Users that post offensive material will be banned without warning and at the discretion of Chatcat moderators. No reason or warning need be given to the user.</string>
		<string>Limitations</string>
		<string>In no event shall Chatcat or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Chatcat app, even if Chatcat or a Chatcat authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</string>
		<string>Revisions and Errata</string>
		<string>The materials appearing on Chatcat app could include technical, typographical, or photographic errors. Chatcat does not warrant that any of the materials on its web site are accurate, complete, or current. Chatcat may make changes to the materials contained on its app at any time without notice. Chatcat does not, however, make any commitment to update the materials.</string>
		<string>Links</string>
		<string>Chatcat has not reviewed all of the sites linked to its app and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Chatcat of the site. Use of any such linked web site is at the user’s own risk.</string>
		<string>Site Terms of Use Modifications</string>
		<string>Chatcat may revise these terms of use for its web site at any time without notice. By using this app you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</string>
		<string>Governing Law</string>
		<string>Any claim relating to Chatcat app shall be governed by the laws of Australia without regard to its conflict of law provisions. General Terms and Conditions applicable to Use of a Web Site.</string>
		<string>Privacy Policy</string>
		<string>Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.</string>
		<string>- Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
- We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
- We will only retain personal information as long as necessary for the fulfillment of those purposes.
- We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
- Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
- We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
- We will make readily available to customers information about our policies and practices relating to the management of personal information.</string>
		<string>We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.</string>
	</array>
</dict>
</plist>
